<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else notdeleted">
  <h3>Héroe eliminado: <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>


<ng-template #notdeleted>
  <h3 *ngIf="!deletedHero">No ha eliminado nada.</h3>
</ng-template>


<button *ngIf="heroNames.length >0" (click)="removeLastHero()" class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let item of heroNames" class="list-group-item">{{ item }}</li>

</ul>